{% extends 'auction/administration/base.html' %}
{% load bootstrap4 %}

{% block main %}
    <h1>Add category</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'category:create' auction.user.slug auction.slug %}">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}