{% extends 'auction/administration/base.html' %}
{% load bootstrap4 %}

{% block main %}
    <h1>
        Categories
        <a href="{% url 'category:create' auction.user.slug auction.slug %}" class="btn btn-primary float-right">
            <i class="fa fa-plus-square"></i> Add category
        </a>
    </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Category</th>
                <th>Offers</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for category in category_list %}
                <tr>
                    <td>{{ category }}</td>
                    <td>
                        {% if category.count_offers %}
                            <a href="{% url 'offer:list_administration_category' auction.user.slug auction.slug category.slug %}">{{ category.count_offers }}</a>
                        {% else %}
                            0
                        {% endif %}
                    </td>
                    <td class="text-right">
                        <div class="btn-group" role="group" aria-label="Administration">
                            <a class="btn btn-info" href="{% url 'category:update' auction.user.slug auction.slug category.slug %}" title="Edit">
                                <i class="fa fa-cog"></i> <span class="sr-only">Edit</span>
                            </a>
                            {% if not category.count_offers %}
                            <a class="btn btn-warning" href="{% url 'category:delete' auction.user.slug auction.slug category.slug %}" title="Delete">
                                <i class="fa fa-trash"></i> <span class="sr-only">Delete</span>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}