{% extends 'auction/administration/base.html' %}
{% load bootstrap4 %}

{% block main %}
    <h1>{{ category }}</h1>
    <form method="post" enctype="multipart/form-data" action="{% url 'category:update' auction.user.slug auction.slug category.slug %}">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        <p class="text-right"><button type="submit" class="btn btn-primary">Edit</button></p>
    </form>
{% endblock %}