{% load core_tags %}

<div class="col-md-4 my-3">
    <div class="card">
        <div class="card-header">
            <a href="{% url 'offer:search_category' auction.user.slug auction.slug offer.category.slug %}">{{ offer.category }}</a>
            <span class="float-right">
                {% if auction.is_archived %}
                    <strong>{% currency offer.total auction.currency %}</strong>
                {% elif offer.count_bids %}
                    <strong>{% currency offer.must_bid auction.currency %}</strong>
                {% else %}
                    <strong>{% currency offer.minimum_bid auction.currency %}</strong>
                {% endif %}
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="{% url 'offer:list' auction.user.slug auction.slug offer.user.slug %}">{{ offer.user }}</a></h5>
            <p class="card-text">{{ offer.teaser }}</p>
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}" class="btn btn-primary">View</a>
                </div>
                <div class="col-md-6 text-md-right">
                    {% if auction.bidding_open and request.user.is_authenticated %}
                        <a href="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}#Bid" class="btn btn-warning">Bid!</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-truncate">
            {% for tag in offer.tags.all %}
                <small><a href="{% url 'offer:search_tag' auction.user.slug auction.slug tag.slug %}" class="text-muted">#{{ tag }}</a></small>
            {% endfor %}
        </div>
    </div>
</div>