{% load bootstrap4 core_tags %}

{% csrf_token %}

{% bootstrap_form_errors form %}
<fieldset>
    <legend>Offer</legend>
    {% bootstrap_field form.category layout="horizontal" %}
    {% bootstrap_field form.minimum_bid layout="horizontal" %}
    {% bootstrap_field form.quantity layout="horizontal" %}
    {% if auction.allow_custom_offer_deadline %}
    {% datetimepicker 'deadline' label='Deadline' mode="date" %}
    <div class="row pb-3">
        <label class="col-md-3"></label>
        <div class="col-md-9">
            <small class="form-text text-muted">The date by which you will have delivered the offer to the winning bidder(s).
                Leave blank to use the auction default ({% if auction.offer_deadline %}{{ auction.offer_deadline|date:"F jS Y" }}{% else %}no deadline{% endif %}).
            </small>
        </div>
    </div>
    {% endif %}
</fieldset>

<fieldset>
    <legend>About</legend>
    {% bootstrap_field form.notes layout="inline" %}
    {% bootstrap_field form.information_website layout="horizontal" %}
    {% bootstrap_field form.image layout="horizontal" %}
</fieldset>

<fieldset>
    <legend>Tags</legend>
    {% bootstrap_field form.tags layout="inline" %}
</fieldset>

<p class="text-right"><button type="submit" class="btn btn-primary">Edit</button></p>