{% load core_tags %}
<hr>
<p>
    <strong>{{ offer.quantity }}</strong> item{% if offer.quantity > 1%}s{% endif %} can be bid on{% if offer.deadline or auction.offer_deadline %}, delivery by <strong>{{ offer.deadline|default_if_none:auction.offer_deadline }}</strong>{% endif %}.
</p>

{% if offer.notes or offer.information_website %}
<hr>
{% endif %}

{% if offer.notes %}
<p>{{ offer.notes|linebreaksbr }}</p>
{% endif %}

{% if offer.information_website %}
<p><i class="fa fa-external-link-square"></i> <a href="{{ offer.information_website }}" target="_blank">More information</a></p>
{% endif %}

