{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block content %}

    <h1>Your offers</h1>

    {% if auction.signups_open %}
        {% if not auction.max_offers_per_user or offer_list|length < auction.max_offers_per_user %}
            <p class="text-right">
                <a href="{% url 'offer:create' auction.user.slug auction.slug %}" class="btn btn-primary">
                    <i class="fa fa-plus-square"></i> Add offer
                </a>
            </p>
        {% endif %}
    {% endif %}

    {% if offer_list %}
        <table class="table">
            <thead>
                <tr>
                    <th>Offer</th>
                    <th>Minimum bid</th>
                    <th>Quantity</th>
                    <th>Deadline</th>
                    <th>Bids</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offer_list %}
                    <tr>
                        <td>{{ offer.category.name }}</td>
                        <td>{% currency offer.minimum_bid auction.currency %}</td>
                        <td>{{ offer.quantity }}</td>
                        <td>{{ offer.deadline|default_if_none:auction.offer_deadline }}</td>
                        <td>{{ offer.count_bids|default_if_none:0 }}</td>
                        <td class="text-right">
                            <div class="btn-group" role="group" aria-label="Administration">
                                <a class="btn btn-success" href="{% url 'offer:view' auction.user.slug auction.slug offer.user.slug offer.pk %}" title="View">
                                    <i class="fa fa-eye"></i> <span class="sr-only">View</span>
                                </a>
                                {% if auction.signups_open %}
                                <a class="btn btn-info" href="{% url 'offer:update' auction.user.slug auction.slug request.user.slug offer.pk %}" title="Edit">
                                    <i class="fa fa-cog"></i> <span class="sr-only">Edit</span>
                                </a>
                                <a class="btn btn-warning" href="{% url 'offer:delete' auction.user.slug auction.slug request.user.slug offer.pk %}" title="Delete">
                                    <i class="fa fa-trash"></i> <span class="sr-only">Delete</span>
                                </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert alert-info">You have no offers in this auction</p>
    {% endif %}

{% endblock %}