{% extends 'auction/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}

    <h1>Your winners</h1>

    {% if offer_list %}

        <table class="table">
            <tbody>
                {% for bid in offer_list %}
                <tr class="table-{% if bid.donation_complete %}success{% elif bid.donation_unverified %}info{% elif bid.pending_alert %}light{% elif bid.pending_donation %}warning{% elif bid.donation_late %}danger{% endif %}">
                    <td>{{ bid.offer.category }}</td>
                    <td>
                        {% if bid.donation_complete or not bid.anonymous %}
                            <a href="{% url 'account:profile' bid.user.slug %}">{{ bid.user }}</a>
                        {% else %}
                            Anonymous
                        {% endif %}
                    </td>
                    <td>{% currency bid.amount auction.currency %}</td>
                    <td class="text-right">
                        <a href="{% url 'offer:view' auction.user.slug auction.slug bid.offer.user.slug bid.offer.pk %}" class="btn btn-info btn-sm" title="View"><i class="fa fa-eye"></i> <span class="sr-only">View</span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}

        <p class="alert alert-info">You have no offers in this auction</p>

    {% endif %}

{% endblock %}

{% block side %}

    <h1>&nbsp;</h1>

    <ul class="list-group">
        <li class="list-group-item list-group-item-light">Pending administration</li>
        <li class="list-group-item list-group-item-warning">Pending donation</li>
        <li class="list-group-item list-group-item-info">Donation unverified</li>
        <li class="list-group-item list-group-item-success">Donation complete</li>
        <li class="list-group-item list-group-item-danger">Donation late</li>
    </ul>

{% endblock %}