{% extends 'auction/administration/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete this bid? Once you hit the button below, it's gone-gone. Like, gone like it never was, <strong>gone</strong>.</p>
    <a class="btn btn-secondary" href="{% url 'auction:results' auction.user.slug auction.slug %}">Augh, stop, reverse! Reverse!</a>
    <button type="submit" class="btn btn-danger float-right">Super sure! Delete it!</button>
</form>
{% endblock %}