{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block main %}
    <h1>{{ bid.user }} bidding {% currency bid.amount auction.currency %} for {{ bid.offer.user }}'s {{ bid.offer.category|lower }}</h1>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Bidder</strong> <a href="{% url 'account:profile' bid.user.slug %}">{{ bid.user }}</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Auctionee</strong> <a href="{% url 'account:profile' bid.offer.user.slug %}">{{ bid.offer.user }}</a>
                </li>
                {% if bid.pinch_hitter %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Pinch-hitter</strong>
                    <div>
                        <a href="{% url 'account:profile' bid.pinch_hitter.slug %}">{{ bid.pinch_hitter }}</a>
                        <a href="{% url 'bid:remove_pinch_hit' auction.user.slug auction.slug bid.pk %}" class="text-danger" title="Remove"><i class="fa fa-times-circle-o"></i> <span class="sr-only">Remove</span></a>
                    </div>
                 </li>
                {% endif %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Offer</strong> <a href="{% url 'offer:view' auction.user.slug auction.slug bid.offer.user.slug bid.offer.pk %}"></strong> {{ bid.offer.category }}</a>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <strong>Amount</strong> {% currency bid.amount auction.currency %}
                </li>
                <li class="list-group-item">
                   <strong>Made bid</strong><br>{{ bid.created }}
                </li>
                <li class="list-group-item">
                   <strong>Donation deadline</strong><br>{{ bid.donate_by }}
                </li>
                <li class="list-group-item">
                   <strong>Donation made</strong><br>{{ bid.donated|default_if_none:"-" }}
                </li>
            </ul>
            <h4 class="mt-4 mb-2"><a href="{% url 'bid:email' auction.user.slug auction.slug bid.pk %}">E-mails</a></h4>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <strong>E-mailed about win</strong><br>{{ bid.winner_alert_email_date|default_if_none:"-" }}
                </li>
                <li class="list-group-item">
                    <strong>Winner e-mailed auctionee details</strong><br>{{ bid.winner_sent_auctionee_details_email_date|default_if_none:"-" }}
                </li>
                <li class="list-group-item">
                    <strong>Auctionee e-mailed winner details</strong><br>{{ bid.auctionee_sent_winner_details_email_date|default_if_none:"-" }}
                </li>
                {% if bid.pinch_hitter %}
                <li class="list-group-item">
                    <strong>Winner e-mailed pinch-hitter details</strong><br>{{ bid.winner_sent_pinch_hitter_details_email_date|default_if_none:"-" }}
                </li>
                <li class="list-group-item">
                    <strong>Pinch-hitter e-mailed winner details</strong><br>{{ bid.pinch_hitter_sent_winner_details_email_date|default_if_none:"-" }}
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6">
            <form method="post" action="{% url 'bid:update' auction.user.slug auction.slug bid.pk %}">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <fieldset>
                    <legend>Donation</legend>
                    <div class="form-group">
                        <label class="sr-only" for="id_donation_deadline">Donation deadline</label>
                        {% datetimepicker 'donation_deadline' value=bid.donation_deadline placeholder="Deadline" %}
                        <small class="form-text text-muted mb-3">Leave blank to use the default donation deadline ({{ auction.donation_deadline }})</small>
                        {% bootstrap_field form.receipt layout="inline" %}
                        {% bootstrap_field form.has_donated layout="inline" %}
                        <small class="form-text text-muted mb-3">The first time 'Has donated' is checked when the bid is updated will trigger confirmation e-mails to the auctionee and bidder.</small>
                    </div>
                </fieldset>
                {% if not bid.pinch_hitter %}
                    <fieldset>
                        <legend>Pinch hitter</legend>
                        <p class="alert alert-warning">Assigning a pinch-hitter will trigger e-mails to the pinch-hitter and the winner with each other's details.</p>
                        {% bootstrap_field form.pinch_hitter layout="inline" %}
                        <p><small class="form-text text-muted">Only users who have a verified account here can be assigned as a pinch-hitter.</small></p>
                    </fieldset>
                {% else %}
                    {% bootstrap_field form.pinch_hitter layout="inline" %}
                {% endif %}
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
{% endblock %}