{% load static static_version bootstrap4 hijack_tags %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge">
        <meta http-equiv="x-dns-prefetch-control" content="off">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="language" content="en-US">
        {% if request.user.allows_analytics_cookies %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-50457928-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-50457928-3');
        </script>
        {% endif %}
        {% block meta_description %}<meta name="description" content="">{% endblock %}
        {% block meta_keywords %}<meta name="keywords" content="">{% endblock %}
        {% block meta_robots %}<meta name="robots" content="index,follow,noodp,noydir">{% endblock %}
        {% block permalink %}{% endblock %}
        <title>{% block title %}Fantics{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=True %}
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}">
        <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'core/css/global.css' %}">
        {% block css %}{% endblock %}
        {% block javascript_head %}{% endblock %}
        <!--[if lt IE 9]>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
        <![endif]-->
    </head>
    <body>
        {% hijack_notification %}
        <p class="alert alert-danger m-0 text-center rounded-0" role="alert">This site is a DEMO site for testing purposes only! <strong>Do not use it to run actual auctions!</strong></p>
        {% block body %}{% endblock %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script>
            window.CKEDITOR_BASEPATH = "/static/ckeditor/ckeditor/";
        </script>
        <script src="{% static "ckeditor/ckeditor-init.js" %}"></script>
        <script src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
        <script src="{% static_version 'core/js/global.js' %}"></script>
        {% block javascript_body %}{% endblock %}
        {% if not request.COOKIES.cookie_consent %}
        {% include 'account/cookies/_banner.html' %}
        {% endif %}
    </body>
</html>
