{% extends 'main/base.html' %}
{% block title %}About | {{ block.super }}{% endblock %}

{% block content %}
    <h1>About</h1>

    <h3>Fantics is what?</h3>
    <p>Charity auctions are awesome, but can be a bit of a pain to manage - enter fantics!</p>

    <h3>Who's even running this show?</h3>
    <p>Fantics is built and hosted by a development team of one who is, in the words of John Mulaney, <em>doing her best</em>.</p>

{% endblock %}