{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Create auction</h1>

    <div id="AuctionOptions" class="row">
        <div class="col-md-6">
            <a href="{% url 'auction:create' request.user.slug %}" class="btn btn-lg btn-block btn-primary btn-wrap text-light d-block">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3">
                        <i class="fa fa-users fa-fw fa-5x"></i>
                    </div>
                    <div class="col-md-9">
                        I'd like to create an auction where lots of people sign up to be bid on
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{% url 'adhoc:create' request.user.slug %}" class="btn btn-lg btn-block btn-primary btn-wrap text-light d-block">
                <div class="row d-flex align-items-center">
                    <div class="col-md-3">
                        <i class="fa fa-user fa-fw fa-5x"></i>
                    </div>
                    <div class="col-md-9">
                        I'd like to auction a single item I'm offering
                    </div>
                </div>
            </a>
        </div>
    </div>

{% endblock %}