{% extends 'main/base.html' %}

{% block content %}
    <h1>Privacy policy</h1>

    <h2>Personal information</h2>
    <p>I cannot stress enough how much I do not want your personal details, the most I want off you is your e-mail so you
    can reset your password if you forget it. However, if you're a winning bidder or an auctionee who's won, your e-mail goes
    out to the appropriate person to aid contact, and the administrator of the auction also sees copies of those e-mails,
        so don't use e-mails that you're not willing to at least partially share on here.</p>

    <h2>Account deletion</h2>
    <p>If you have no auctions, no offers and no bids, aren't a pinch-hitter and have never sent a message, your account
        will be fully deleted - poof! Otherwise, see below for specific policies.</p>

    <h3>If you've sent messages</h3>
    <p>The messages will be listed against an orphan account.</p>

    <h3>If you've made multi-person auction events</h3>
    <p>If they have donations against them, they'll be listed against an orphan account. Otherwise, they'll be deleted.</p>

    <h3>If you've made single-person auctions</h3>
    <p>They'll be deleted.</p>

    <h3>If you've made bids in multi-person auction events</h3>
    <p>If they have donations against them, they'll be listed against an orphan account. Otherwise, they'll be deleted.</p>

    <h3>If you've made bids in single-item auctions</h3>
    <p>They'll be deleted.</p>

    <h3>If you've offered items in multi-person auction events</h3>
    <p>If they have donations against them, they'll be listed against an orphan account. Otherwise, they'll be deleted.</p>

    <h3>If you've pinch-hit</h3>
    <p>The orphan account will be listed as pinch-hitter.</p>

    <h2>Cookies</h2>
    <p>You can choose which cookies the site sets in the <a href="{% url 'account:cookies' %}">cookie management area</a>.</p>
{% endblock %}