{% extends 'main/base.html' %}
{% block title %}Support | {{ block.super }}{% endblock %}

{% block content %}
    <h1>Support</h1>
    <p>Unfortunately, I don't have a lot of time to do one-to-one support, but I've answered some questions below and hopefully they're helpful!</p>
    <h2>General</h2>
    <ol class="list-unstyled">
        <li>
            <h4>Is there anywhere I can report bugs or make feature requests?</h4>
            <p>Kind of! For the moment, hit me up <a href="https://bitbucket.org/HalcyonShift/fantics/issues" target="_blank">here</a> and I'll get back to you.</p>
        </li>
        <li>
            <h4>Is this open source?</h4>
            <p>For non-commercial use, but it's in early development - it's not even versioned, yet. Release candidates are a far-off dream. So. I mean.
                If you desperately want to fork it, sure? The repo's <a href="https://bitbucket.org/HalcyonShift/fantics/" target="_blank">over here</a>, crack on.
                But you're probably better off waiting a while until there's actually something stable to run with.</p>
        </li>
        <li>
            <h4>Will X get me banned?</h4>
            <p>Will X get you arrested, or at the very least an indisputable Cease and Desist? Yes? X will get you banned with the speed of a cheetah.</p>
            <p>Otherwise, well, I don't have an app to get past Apple or advertisers to appease, so otherwise just keep to the <a href="{% url 'main:terms_of_use' %}">terms of use</a> and we're good.</p>
        </li>
        <li>
            <h4>Is this free?</h4>
            <p>For the moment, but crowd funding will probably be a thing if it gets traffic, because servers are expensive like wow.</p>
        </li>
    </ol>
{% endblock %}