{% extends 'main/base.html' %}

{% block content %}
    <h1>Terms of use</h1>
    <p>Don't do illegal shit, don't try and kill the site, don't troll: don't be a dick.</p>
    <p>Do not trust the site. Seriously. This is alpha <em>at best</em>, so put nothing on here you wouldn't be cool posting publicly anywhere.</p>
{% endblock %}