{% extends 'main/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
<script>
    var itemSocket;
    var link = window.location.host + '/item/{{ item.pk }}/';

    if (location.protocol !== 'https:' && location.protocol !== 'https') {
        itemSocket = new WebSocket('ws://' + link);
    } else {
        itemSocket = new WebSocket('wss://' + link);
    }

    var bidForm = $('#Bid');

    var bidConfirm = $('#BidConfirm');
        bidConfirm.hide().removeClass('d-none');

    var bidFailure = $('#BidFailure');
        bidFailure.hide().removeClass('d-none');

    var user_id = {{ request.user.id|default_if_none:0 }};

    bidForm.submit(function(e){
        e.preventDefault();
        $(this).find('button').attr('disabled', true).html("<i class='fa fa-spinner fa-spin'></i>");
        $.ajax({
            type: "POST",
            url: bidForm.attr('action'),
            data: bidForm.serialize(),
            success: function(res) {
                bidForm.find('button').attr('disabled', false).text("Bid!");

                if (res.success) {
                    itemSocket.send(JSON.stringify({'status': 1}));
                } else {
                    var decoded = $("<div/>").html(res.message).text();
                    bidFailure.text(decoded).show().delay(5000).fadeOut();
                }
            }
        });
    });

    itemSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        $('#id_amount').val(data['must_bid']);
        $('#topBids').empty();

        bidConfirm.show().delay(5000).fadeOut();

        jQuery.each(data['top_bids'], function(index, value){
            var name = value['display_name'];

            if (value['anonymous'] && value['user_id'] !== user_id) {
                name = "Anonymous";
            }

            $('#topBids').append("<li class='list-group-item d-flex justify-content-between align-items-center'>" + name + "<strong>" + value['amount'] + "</strong></li>");
        });
    };

    itemSocket.onclose = function(e) {
        window.setTimeout(function(){
            window.location.href = "{% url 'adhoc:view' item.user.slug item.hash %}";
        }, 10000);
    };

</script>
{% endblock %}

{% block content %}

    <div class="row mb-3">
        <div class="col-md-9">
            <h1 class="mb-0">{{ item.title }}</h1>
            <h4>
                Fundraising for {{ item.beneficiary_name }}
                {% if item.beneficiary_website %}
                    (<i class="fa fa-external-link-square"></i> <a href="{{ item.beneficiary_website }}">{{ item.beneficiary_website|pretty_url }}</a>)
                {% endif %}
            </h4>
        </div>
        <div class="col-md-3 text-right">
        {% if request.user.id == item.user.id %}
            <div class="btn-group">
                <a href="{% url 'adhoc:update' item.user.slug item.hash %}" class="btn btn-primary" title="Edit"><i class="fa fa-cog"></i> <span class="sr-only">Edit</span></a>
                {% if not item.count_bids %}<a href="{% url 'adhoc:delete' item.user.slug item.hash %}" class="btn btn-warning" title="Delete"><i class="fa fa-trash"></i> <span class="sr-only">Delete</span></a>{% endif %}
            </div>
        {% endif %}
        </div>
    </div>

    <hr>
    <p>
        <strong>{{ item.quantity }}</strong> item{% if item.quantity > 1%}s{% endif %} can be bid on.
    </p>

    {% if item.notes or item.information_link %}
    <hr>
    {% endif %}

    {% if item.notes %}
    <p>{{ item.notes|linebreaksbr }}</p>
    {% endif %}

    {% if item.information_link %}
    <p><i class="fa fa-external-link-square"></i> <a href="{{ item.information_link }}" target="_blank">More information</a></p>
    {% endif %}

    <hr>

    <div class="row">
        <div class="col-md-6">
            {% if item.bidding_open %}
                <h3>Bid</h3>
                {% if request.user.is_authenticated %}
                    <form method="post" id="Bid" action="{% url 'adhoc:view' item.user.slug item.hash %}">
                        {% csrf_token %}
                        <p class="alert alert-warning">
                            <small><i class="fa fa-exclamation-triangle"></i> Bids cannot be deleted and there is no confirmation stage.
                            {% if item.quantity > 1 %} <strong>If you have a top bid and bid again, it will be considered a bid for an additional item!</strong>{% endif %}</small>
                        </p>

                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">{{ item.currency }}</span>
                            </div>
                            <input type="text" name="amount" value="{{ item.must_bid }}" step="0.01" class="form-control" placeholder="Amount" title="" id="id_amount">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary">Bid!</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="anonymous" class="form-check-input" title="" id="id_anonymous">
                                <label class="form-check-label" for="id_anonymous">Anonymous</label>
                            </div>
                        </div>

                    </form>

                    <p class="alert alert-success d-none" id="BidConfirm">Thank you for bidding!</p>
                    <p class="alert alert-danger d-none" id="BidFailure"></p>

                {% else %}

                    <p class="alert alert-warning">You must be <a class="alert-link" href="{% url 'account:login' %}?next={% url 'adhoc:view' item.user.slug item.hash %}">logged in</a> to bid!</p>

                {% endif %}

            {% elif item.bidding_period %}
                <h3>Bid</h3>
                <p>Bidding is open <strong>{{ item.bidding_period }}</strong></p>

            {% endif %}
        </div>
        <div class="col-md-6">
            <h3>Top bids</h3>
            <ul id="topBids" class="list-group">
                {% for bid in item.top_bids %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span>
                            {% if item.quantity > 1 %}
                            {{ item.category|title }} {{ forloop.counter }}:
                            {% endif %}
                            {% if not bid.anonymous or request.user.id == bid.user_id or request.user.id == item.user_id %}
                                {{ bid.user }}
                                {% if item.complete and request.user.id == item.user_id %}
                                    ({% encrypt_email bid.user.email %})
                                {% endif %}
                            {% else %}
                                Anonymous
                            {% endif %}
                        </span>
                        <strong>{% currency bid.amount item.currency %}</strong>
                    </li>
                {% empty %}
                    <p class="text-muted">There are no bids to view</p>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}