{% extends 'auction/administration/base.html' %}

{% block main %}
<h1>Delete {{ offer.user }}'s {{ offer.category|lower }}</h1>
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete <strong>{{ offer.user }}'s</strong> offer for <strong>{{ offer.category|lower }}</strong>? Once you hit the button below, it's gone-gone. Like, gone like it never was, <strong>gone</strong>.</p>
    <p>
        <a class="btn btn-secondary" href="{% url 'offer:list_administration' auction.user.slug auction.slug %}">Augh, stop, reverse! Reverse!</a>
        <button type="submit" class="btn btn-danger float-right">Super sure! Delete it!</button>
    </p>
</form>
{% endblock %}