<div id="compliance-banner" class="fixed-bottom">
    <div class="container">
        <!-- https://www.cookiebot.com/en/gdpr-cookies/-->
        <h5>Fantics uses cookies...</h5>
        <p>...to personalise content and analyse traffic, and that's the lot - nothing is shared with or sold to
            anyone for marketing purposes (or anything else.) You can click options below to customise which
            non-necessary cookies you're cool with.</p>
        <form method="post" action="{% url 'account:cookies' %}">
            <button type="submit" class="btn btn-primary btn-sm float-right" style="margin-top:-10px">Got it</button>
            <p>
                <label for="id_necessary"><input type="checkbox" value="1" name="necessary" disabled checked id="id_necessary"> Necessary</label>
                <label for="id_preferences"><input type="checkbox" value="1" name="preferences" checked id="id_preferences"> Preferences</label>
                <label for="id_statistic"><input type="checkbox" value="1" name="analytics" checked id="id_statistic"> Analytics</label>
                <a data-toggle="collapse" href="#collapseInfo" role="button" aria-expanded="false" aria-controls="collapseInfo" class="ml-2">
                    <span class="collapsed">Show more <i class="fa fa-caret-down"></i></span>
                    <span class="expanded">Show less <i class="fa fa-caret-up"></i></span>
                </a>
            </p>
            {% csrf_token %}
        </form>
        <div class="collapse" id="collapseInfo">
            <div class="row">
                <div class="col-3">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="v-pills-necessary-tab" data-toggle="pill" href="#v-pills-necessary" role="tab" aria-controls="v-pills-necessary" aria-selected="true">Necessary</a>
                        <a class="nav-link" id="v-pills-preferences-tab" data-toggle="pill" href="#v-pills-preferences" role="tab" aria-controls="v-pills-preferences" aria-selected="false">Preferences</a>
                        <a class="nav-link" id="v-pills-analytics-tab" data-toggle="pill" href="#v-pills-analytics" role="tab" aria-controls="v-pills-analytics" aria-selected="false">Analytics</a>
                    </div>
                </div>
                <div class="col-9">
                    <p><a data-toggle="collapse" href="#collapseCookies" role="button" aria-expanded="false" aria-controls="collapseCookies">Remind me, cookies?</a></p>
                    <div class="collapse" id="collapseCookies">
                        <p>Cookies are small bits of data stored in your browser by a website, usually so it can identify you if you're logged in, or to remember preferences.
                            And, sometimes, so it can track your every move. This is not that kind of website - honestly I don't care that much about your browsing habits,
                            I just want you to be able to log in and have a few preferences, and maybe get an idea of general traffic. The first is a necessary cookie,
                            you need to have it to use to the site, the others you can turn off here or in your <a href="{% url 'account:cookies' %}">cookie preferences</a>.
                            If you'd like to know more about how your personal data is stored (or not) on here in general, head over
                            to the <a href="{% url 'main:privacy_policy' %}">Privacy Policy</a>.</p>
                    </div>
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-necessary" role="tabpanel" aria-labelledby="v-pills-necessary-tab">
                            {% include 'account/cookies/_necessary.html' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-preferences" role="tabpanel" aria-labelledby="v-pills-preferences-tab">
                            {% include 'account/cookies/_preferences.html' %}
                        </div>
                        <div class="tab-pane fade" id="v-pills-analytics" role="tabpanel" aria-labelledby="v-pills-analytics-tab">
                            {% include 'account/cookies/_analytics.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
