{% extends 'main/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block content %}
<h1>Create single-item auction</h1>
<p class="alert alert-info" role="alert">
    This is a quick and easy way for people to bid on an item you're auctioning for charitable purposes. It has
    much less configuration than the multi-user auctions, and assumes you're contacting the winning bidders and arranging
    their donations yourself.
</p>

<form method="post" action="{% url 'adhoc:create' request.user.slug %}">
    {% bootstrap_form_errors form %}
    <fieldset>
        <legend>Auction</legend>
        {% bootstrap_field form.title layout="horizontal" %}
        {% bootstrap_field form.currency layout="horizontal" %}
        {% bootstrap_field form.timezone layout="horizontal" %}
        <div class="form-group required row">
            <label class="col-md-3">Bidding</label>
            <div class="col-md-9">
                <div class="row d-flex align-items-center">
                    <div class="col-md-5">{% datetimepicker 'bidding_starts' %}</div>
                    <div class="col-md-2 text-center">to</div>
                    <div class="col-md-5">{% datetimepicker 'bidding_ends' %}</div>
                </div>
            </div>
        </div>
        {% bootstrap_field form.is_listed layout="horizontal" %}
    </fieldset>
    <fieldset>
        <legend>Beneficiary</legend>
        {% bootstrap_field form.beneficiary_name layout="horizontal" %}
        {% bootstrap_field form.beneficiary_website layout="horizontal" %}
    </fieldset>
    <fieldset>
        <legend>Item</legend>
        {% bootstrap_field form.category layout="horizontal" %}
        {% bootstrap_field form.notes layout="horizontal" %}
        {% bootstrap_field form.minimum_bid layout="horizontal" %}
        {% bootstrap_field form.quantity layout="horizontal" %}
        {% bootstrap_field form.information_link layout="horizontal" %}
    </fieldset>
    {% bootstrap_field form.confirm layout="horizontal" %}
    <a href="{% url 'main:create' %}" class="btn btn-secondary">Back</a>
    <button type="submit" class="btn btn-primary float-right">Create</button>
    {% csrf_token %}
</form>
{% endblock %}