{% extends 'main/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete <strong>{{ item }}</strong>? Once you hit the button below, it's gone-gone. Like, gone like it never was, <strong>gone</strong>.</p>
    <a class="btn btn-secondary" href="{% url 'adhoc:update' item.user.slug item.hash %}">Augh, stop, reverse! Reverse!</a>
    <button type="submit" class="btn btn-danger float-right">Super sure! Delete it!</button>
</form>
{% endblock %}