{% extends 'main/base.html' %}
{% load bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css">
{% endblock %}

{% block content %}
<h1>{{ item.title }}</h1>

<form method="post" action="{% url 'adhoc:update' request.user.slug item.hash %}">
    {% bootstrap_form_errors form %}
    <fieldset>
        <legend>Auction</legend>
        {% bootstrap_field form.title layout="horizontal" %}
        {% if item.count_bids %}
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_currency">Currency</label><div class="col-md-9 text-info">{{ item.currency }}</div></div>
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_timezone">Timezone</label><div class="col-md-9 text-info">{{ item.timezone }}</div></div>
        {% endif %}
        {% bootstrap_field form.currency layout="horizontal" %}
        {% bootstrap_field form.timezone layout="horizontal" %}
        <div class="form-group required row">
            <label class="col-md-3">Bidding</label>
            <div class="col-md-9">
                <div class="row d-flex align-items-center">
                    <div class="col-md-5">{% datetimepicker 'bidding_starts' value=item.bidding_starts %}</div>
                    <div class="col-md-2 text-center">to</div>
                    <div class="col-md-5">{% datetimepicker 'bidding_ends' value=item.bidding_ends %}</div>
                </div>
            </div>
        </div>
        {% bootstrap_field form.is_listed layout="horizontal" %}
    </fieldset>
    <fieldset>
        <legend>Beneficiary</legend>
        {% if item.count_bids %}
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_beneficiary_name">Name</label><div class="col-md-9 text-info">{{ item.beneficiary_name }}</div></div>
        {% endif %}
        {% bootstrap_field form.beneficiary_name layout="horizontal" %}
        {% bootstrap_field form.beneficiary_website layout="horizontal" %}
    </fieldset>
    <fieldset>
        <legend>Item</legend>
        {% if item.count_bids %}
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_category">Category</label><div class="col-md-9 text-info">{{ item.category }}</div></div>
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_notes">Notes</label><div class="col-md-9 text-info"><p>{{ item.notes|linebreaksbr }}</p></div></div>
            <div class="form-group row d-flex align-items-center"><label class="col-md-3 col-form-label" for="id_minimum_bid">Minimum bid</label><div class="col-md-9 text-info">{% currency item.minimum_bid item.currency %}</div></div>
        {% endif %}
        {% bootstrap_field form.category layout="horizontal" %}
        {% bootstrap_field form.notes layout="horizontal" %}
        {% bootstrap_field form.minimum_bid layout="horizontal" %}
        {% bootstrap_field form.quantity layout="horizontal" %}
        {% bootstrap_field form.information_link layout="horizontal" %}
    </fieldset>
    <p class="text-right"><button type="submit" class="btn btn-primary">Edit</button></p>
    {% csrf_token %}
</form>
{% endblock %}