{% extends 'main/base.html' %}

{% block content %}
    <h1>Delete my account</h1>
    <form method="post" action="{% url 'account:delete' %}">
        {% csrf_token %}
        <p>If you have no auctions, no offers and no bids, aren't a pinch-hitter and have never sent a message,
            your account will be fully deleted - poof! If you have any of these things, it
            <a href="{% url 'main:privacy_policy' %}">gets a bit more complicated<span class="sr-only"> (click to view)</span></a>.
            Any messages you've sent will remain, but be attributed to an orphan account.</p>



        {{ form }}

        <p class="alert alert-danger font-weight-bold" role="alert"><i class="fa fa-exclamation-triangle"></i> There's no cool-off period and there's no restore. Press the button below and your account is gone. Cool?</p>

        <p>
            <a class="btn btn-secondary" href="{% url 'account:update' %}">Augh, stop, reverse! Reverse!</a>
            <button type="submit" class="btn btn-danger float-right"><i class="fa fa-trash"></i> Cool, I am really super sure I want this gone!</button>
        </p>
    </form>
{% endblock %}
