{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Log in</h1>
    <form method="post" action="{% url 'account:login' %}" id="loginForm">
        {% csrf_token %}
        {% bootstrap_form form layout="inline" %}
        <p>
            <button class="btn btn-primary" type="submit"> Log In</button>
            <a href="{% url 'account:password_reset' %}" class="float-right">Lost password?</a>
        </p>
        {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
        {% endif %}
    </form>
{% endblock %}