{% extends "main/base.html" %}
{% load bootstrap4 %}

{% block content %}

<h1>Forgotten your password?</h1>
<h5>Enter your e-mail address below, instructions for setting a new one will be e-mailed your way.</h5>

<form method="post" action="{% url 'account:password_reset' %}" class="pt-4">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <p class="text-right">
        <button type="submit" class="btn btn-primary">Send</button>
    </p>

</form>

{% endblock %}
