{% extends 'main/base.html' %}
{% load bootstrap4 core_tags static_version %}

{% block content %}
    {% if request.user.is_authenticated %}
        <div class="btn-group float-right">
            <a class="btn btn-info" href="{% url 'message:create' %}?to={{ user }}" title="Send message"><i class="fa fa-envelope-o"></i> <span class="sr-only">Send message</span></a>
             {% if request.user.id == user.id %}
            <a class="btn btn-secondary" href="{% url 'account:update' %}" title="Edit"><i class="fa fa-cog"></i> <span class="sr-only">Edit</span></a>
            <a class="btn btn-warning" href="{% url 'account:delete' %}" title="Delete"><i class="fa fa-trash"></i> <span class="sr-only">Delete</span></a>
            {% endif %}
        </div>
    {% endif %}
    {% if user.icon %}
    <div class="row">
        <div class="col-md-2"><img src="{{user.icon.url}}" alt="" class="img-fluid"></div>
        <div class="col-md-10">
            <h1>{{ user }}</h1>
            <p>
                <small>Account created: {{ user.date_joined|date:"jS M Y, g:iA" }}</small><br>
                <small>Last logged in: {{ user.last_login|date:"jS M Y, g:iA" }}</small><br>
            </p>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-6 mt-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        {% if user.pillowfort %}
                            <a class="list-group-item" href="https://www.pillowfort.io/{{ user.pillowfort }}" target="_blank"><img src="{% static_version "account/img/pillowfort.png" %}" class="fa fa-fw"> {{ user.pillowfort }}</a>
                        {% endif %}
                        {% if user.dreamwidth %}
                            <a class="list-group-item" href="https://{{ user.dreamwidth }}.dreamwidth.org" target="_blank"><img src="{% static_version "account/img/dreamwidth.png" %}" class="fa fa-fw"> {{ user.dreamwidth }}</a>
                        {% endif %}
                        {% if user.livejournal %}
                            <a class="list-group-item" href="https://{{ user.livejournal }}.livejournal.org" target="_blank"><img src="{% static_version "account/img/livejournal.png" %}" class="fa fa-fw"> {{ user.livejournal }}</a>
                        {% endif %}
                        {% if user.ao3 %}
                            <a class="list-group-item" href="https://archiveofourown.org/users/{{ user.ao3 }}" target="_blank"><img src="{% static_version "account/img/ao3.png" %}" class="fa fa-fw"> {{ user.ao3 }}</a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-group list-group-flush">
                        {% if user.website %}
                            <a class="list-group-item" href="{{ user.website }}" target="_blank"><i class="fa fa-fw fa-home"></i> {{ user.website|pretty_url }}</a>
                        {% endif %}
                        {% if user.twitter %}
                            <a class="list-group-item" href="http://twitter.com/{{ user.twitter }}" target="_blank"><i class="fa fa-fw fa-twitter"></i> {{ user.twitter }}</a>
                        {% endif %}
                        {% if user.tumblr %}
                            <a class="list-group-item" href="http://{{ user.tumblr }}.tumblr.com" target="_blank"><i class="fa fa-fw fa-tumblr"></i> {{ user.tumblr }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            {% if multi or single %}
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="AuctionNav" role="tablist">
                        {% if multi %}
                        <li class="nav-item{% if not single and user.id == request.user.id %} mr-auto{% endif %}">
                            <a class="nav-link active" id="auction-multi-tab" href="#auction_multi" data-toggle="tab" role="tab" aria-controls="auction_multi" aria-selected="true">Auction events <span class="badge badge-dark badge-pill">{{ multi|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if single %}
                        <li class="nav-item{% if user.id == request.user.id %} mr-auto{% endif %}">
                            <a class="nav-link" id="auction-single-tab" href="#auction_single" data-toggle="tab" role="tab" aria-controls="auction_single">Single-item auctions <span class="badge badge-dark badge-pill">{{ single|length }}</span></a>
                        </li>
                        {% endif %}
                        {% if user.id == request.user.id %}
                        <li class="nav-item mr-2">
                            <a href="{% url 'main:create' %}" title="Create auction"><i class="fa fa-plus-square fa-2x"></i> <span class="sr-only">Create auction</span></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content" id="AuctionContent">
                        {% if multi %}
                        <div class="tab-pane fade show active" id="auction_multi" role="tabpanel" aria-labelledby="auction-multi-tab">
                            <ul class="list-group">
                                {% for auction in multi %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>
                                            <a href="{% url 'auction:auction' user.slug auction.slug %}">{{ auction }}</a>
                                            {% if auction.auction_period %}
                                                <br><small class="text-muted">{{ auction.auction_period }}</small>
                                            {% endif %}
                                        </span>

                                        {% if user.id == request.user.id %}
                                            <div class="btn-group" role="group" aria-label="Administration">
                                                <a class="btn btn-info" href="{% url 'auction:update' user.slug auction.slug %}" title="Settings"><i class="fa fa-fw fa-cog"></i> <span class="sr-only">Settings</span></a>
                                                {% if auction.count_offers %}
                                                    <a class="btn btn-primary" href="{% url 'offer:list_administration' user.slug auction.slug %}" title="Offers"><i class="fa fa-fw fa-gift"></i> <span class="sr-only">Offers</span></a>
                                                {% endif %}
                                                {% if auction.complete %}
                                                    <a class="btn btn-success" href="{% url 'auction:results' user.slug auction.slug %}" title="Winning bids"><i class="fa fa-fw fa-trophy"></i> <span class="sr-only">Winning bids</span></a>
                                                {% endif %}
                                                </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% if single %}
                        <div class="tab-pane fade" id="auction_single" role="tabpanel" aria-labelledby="auction-single-tab">
                            <ul class="list-group">
                                {% for auction in single %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span>
                                            <a href="{% url 'adhoc:view' user.slug auction.hash %}">{{ auction.title }}</a>
                                            {% if auction.bidding_period %}
                                                <br><small class="text-muted">{{ auction.bidding_period }}</small>
                                            {% endif %}
                                        </span>
                                        {% if user.id == request.user.id %}
                                            <div class="btn-group" role="group" aria-label="Administration">
                                                <a class="btn btn-info" href="{% url 'adhoc:update' user.slug auction.hash %}" title="Settings"><i class="fa fa-fw fa-cog"></i> <span class="sr-only">Settings</span></a>
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}