<footer class="footer bg-dark">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% with request.resolver_match.namespace as namespace %}
                {% with request.resolver_match.url_name as name %}
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item{% if namespace == "main" and name == "home" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'main:home' %}"><i class="fa fa-home"></i> Home{% if namespace == "main" and name == "home" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if namespace == "main" and name == "about" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'main:about' %}"><i class="fa fa-info-circle"></i> About{% if namespace == "main" and name == "about" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if namespace == "main" and name == "support" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'main:support' %}"><i class="fa fa-question-circle"></i> Support{% if namespace == "main" and name == "support" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if namespace == "main" and name == "privacy_policy" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'main:privacy_policy' %}"><i class="fa fa-lock"></i> Privacy policy{% if namespace == "main" and name == "privacy_policy" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if namespace == "main" and name == "terms_of_use" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'main:terms_of_use' %}"><i class="fa fa-file-text-o"></i> Terms of use{% if namespace == "main" and name == "terms_of_use" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item{% if namespace == "account" and name == "cookies" %} active{% endif %}">
                        <a class="nav-link" href="{% url 'account:cookies' %}"><i class="fa fa-user-circle-o"></i> Cookies{% if namespace == "account" and name == "cookies" %}<span class="sr-only">(current)</span>{% endif %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://bitbucket.org/HalcyonShift/fantics/" target="_blank"><i class="fa fa-bitbucket"></i> Repo</a>
                    </li>
                </ul>
                {% endwith %}
                {% endwith %}
            </div>
        </nav>
    </div>
</footer>