{% extends 'main/base.html' %}
{% load humanize core_tags %}

{% block content %}
    <h1>
        <a href="{% url 'message:create' %}" class="float-right btn btn-primary"><i class="fa fa-pencil"></i> <span class="sr-only">Send message</span></a>
        Inbox
    </h1>
    {% if recipient_list %}
        <ul class="list-group list-group-flush">
            {% for recipient in recipient_list %}
                <li class="list-group-item d-flex justify-content-between align-items-center{% if not recipient.read %} list-group-item-info{% endif %}">
                    <div>
                        <h5 class="m-0"><a href="{% url 'message:view' recipient.pk %}" class="alert-link">{{ recipient.message.subject }}</a></h5>
                        <p class="m-0"><small class="text-muted"><a href="{% url 'account:profile' recipient.message.user.slug %}">{{ recipient.message.user }}</a> - <span title="{{ recipient.message.created|date:"jS M Y, g:iA" }}" class="date-flip">{{ recipient.message.created|naturaltime }}</span></small>
                    </div>
                    <a href="{% url 'message:delete' recipient.pk %}" class="btn btn-warning"><i class="fa fa-trash"></i> <span class="sr-only">Delete</span></a>
                </li>
            {% endfor %}
        </ul>
        {% if is_paginated %}
            {% list_filter page_obj paginator %}
        {% endif %}
    {% else %}
        <p>No messages in your inbox, watch this space</p>
    {% endif %}
{% endblock %}