{% extends 'auction/base.html' %}
{% load core_tags %}

{% block content %}
    <h1>{{ auction }}</h1>
    <div class="row">
        <div class="col-md-8">
            <ul class="list-group mb-4">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    All times are in
                    <strong>{{ auction.timezone }}</strong>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    All amounts are displayed in
                    <strong>{{ auction.currency }}</strong>
                </li>
                {% if auction.target %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Target
                    <strong>{% currency auction.target auction.currency %}</strong>
                </li>
                {% endif %}
                {% if auction.signup_period %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">Sign ups</div>
                            <div class="col-md-9 text-md-right"><strong>{{ auction.signup_starts|date:"jS M Y @ g:iA" }} to {{ auction.signup_ends|date:"jS M Y @ g:iA" }}</strong></div>
                        </div>
                    </li>
                {% endif %}
                {% if auction.bidding_period %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">Bidding</div>
                            <div class="col-md-9 text-md-right"><strong>{{ auction.bidding_starts|date:"jS M Y @ g:iA" }} to {{ auction.bidding_ends|date:"jS M Y @ g:iA" }}</strong></div>
                        </div>
                    </li>
                {% endif %}
                {% if auction.donation_deadline %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-7">Donations must be made by</div>
                            <div class="col-md-5 text-md-right"><strong>{{ auction.donation_deadline|date:"jS M Y @ g:iA" }}</strong></div>
                        </div>
                    </li>
                {% endif %}
                {% if auction.offer_deadline %}
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-9">Offers are due by{% if auction.allow_custom_offer_deadline %}, unless otherwise stated{% endif %}</div>
                            <div class="col-md-3 text-md-right"><strong>{{ auction.offer_deadline|date:"jS M Y" }}</strong></div>
                        </div>
                    </li>
                {% endif %}
            </ul>

            {% if auction.about %}
            <h3>About</h3>
            {{ auction.about|safe }}
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>Raising donations for</h3>
            <div class="card">
                {% if auction.beneficiary_image %}
                    <img class="card-img-top" src="{{ auction.beneficiary_image.url }}" alt="{{ auction.beneficiary_name }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ auction.beneficiary_name }}</h5>
                    <p class="card-text">{{ auction.beneficiary_description|linebreaksbr }}</p>
                    {% if auction.beneficiary_website %}
                       <p><i class="fa fa-external-link-square"></i> <a href="{{ auction.beneficiary_website }}" target="_blank">Visit website</a></p>
                    {% endif %}
                </div>
            </div>
            <h3 class="mt-4">Contact</h3>
            <p>E-mail {{ auction.contact_name }} at {% encrypt_email auction.contact_email %}</p>
        </div>
    </div>
{% endblock %}