{% extends 'auction/base.html' %}
{% load bootstrap4 static core_tags %}

{% block javascript_body %}
    {{ block.super }}
    {% if auction.bidding_open %}
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.23/moment-timezone-with-data.js"></script>
        <script src="{% static 'auction/js/jquery.countdown.min.js' %}"></script>
        <script>
            var clock = $('#clock');
            if (clock.length) {

                var bidding_end = moment.tz("{{ auction.bidding_ends|date:"Y-m-d H:i:s" }}", "{{ auction.timezone }}");

                clock.countdown(bidding_end.toDate(), function(event) {
                    var totalHours = event.offset.totalDays * 24 + event.offset.hours;
                    if (totalHours < 24) {
                        $(this).html(event.strftime(totalHours + ' hrs %M min %S sec'));
                    } else {
                        $(this).html(event.strftime('%D days %H:%M:%S'));
                    }
                });
            }
        </script>
    {% endif %}
{% endblock %}

{% block content %}

{% if auction.pending %}

    <p class="alert alert-info" role="alert">This auction is <strong>pending</strong>! See the <a href="{% url 'auction:about' auction.user.slug auction.slug %}" class="alert-link">about page</a> to find out more.</p>

{% elif auction.signups_open %}

    <p class="alert alert-info" role="alert">
        Sign-ups are open between <strong>{{ auction.signup_starts|date:"l jS F Y, g:iA" }}</strong> and <strong>{{ auction.signup_ends|date:"l jS F Y, g:iA" }}</strong> ({{ auction.timezone }})
        {% if request.user.is_authenticated %}
        <a href="{% url 'offer:list' auction.user.slug auction.slug request.user.slug %}" class="alert-link">Click here to add an offer.</a>
        {% endif %}
    </p>

{% elif auction.bidding_open %}

    <p class="alert alert-success" role="alert">
        Bidding is open between <strong>{{ auction.bidding_starts|date:"l jS F Y, g:iA" }}</strong> and <strong>{{ auction.bidding_ends|date:"l jS F Y, g:iA" }}</strong> ({{ auction.timezone }})
    </p>

    <h1 class="text-center"><span id="clock" class="badge badge-danger"></span></h1>

    <form method="post" action="{{ form_action }}">
        {% csrf_token %}
        <div class="input-group">
            <label class="sr-only" for="id_search_sidebar">Search</label>
            <input value="{{ keywords|default_if_none:"" }}" type="search" name="search" class="form-control" placeholder="Search" required>
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

{% elif auction.complete %}

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                {% for category in auction.categories.all %}
                    {% if category.total %}
                    <li class="list-group-item">
                        <h4>
                            {{ category }}
                            <span class="float-right">
                                {% currency category.total auction.currency %}
                            </span>
                        </h4>
                        <div class="progress" title="{% currency category.donated auction.currency %} of {% currency category.total auction.currency %}">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{ category.percentage }}%" aria-valuenow="{{ category.percentage }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h2 class="text-warning">{% currency auction.total auction.currency %}</h2>
                    <h5 class="text-muted">Pledged</h5>
                </div>
                <div class="col-md-6">
                    <h2 class="text-success">{% currency auction.donated auction.currency %}</h2>
                    <h5 class="text-muted">Donated</h5>
                </div>
            </div>
        </div>
    </div>

{% endif %}

{% if auction.signups_open or auction.bidding_open %}
    {% if auction.count_offers %}
        <div class="row">
            {% for offer in offer_list %}
                {% include "offer/_offer_card.html" %}
            {% endfor %}
        </div>
    {% endif %}
{% endif %}

{% endblock %}
