{% extends 'main/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <h1>Create auction event</h1>

     <form method="post" action="{% url 'auction:create' request.user.slug %}">
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
        </fieldset>
        <a href="{% url 'main:create' %}" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary float-right">Create</button>
    </form>

{% endblock %}