{% extends 'auction/administration/base.html' %}
{% load bootstrap4 core_tags %}

{% block main %}

<h1>
    Winning bids
    {% if auction.total and auction.donated %}
        <span class="float-md-right text-muted">
            <span class="text-success">{% currency auction.donated auction.currency %}</span>
            {% if not auction.is_archived %}
                of {% currency auction.total auction.currency %}
            {% endif %}
        </span>
    {% endif %}
</h1>

{% if auction.can_send_email_winner_alerts %}
    <div class="alert alert-success" role="alert">
        <h5 class="alert-header"><i class="fa fa-star"></i> Alert the winners!</h5>
        <hr>
        <p>You can send all the "you won, now donate!" e-mails at once by clicking the button below. <strong>This option is only available once</strong>. If anyone doesn't receive their e-mail, use the
        <i class="fa fa-envelope" title="E-mail"></i> <span class="sr-only">E-mail</span> menu options next to each individual bid to either send that e-mail again, or view the full text
        and send manually.</p>
        <p><a href="{% url 'bid:email_bulk_alert' auction.user.slug auction.slug %}" class="btn btn-success"><i class="fa fa-paper-plane"></i> Bulk send winner alerts now</a></p>
    </div>
{% else %}
    {% if filters.pending_alert %}
        <div class="alert alert-light alert-dismissible fade show" role="alert">
            <h5 class="alert-header"><i class="fa fa-exclamation-triangle"></i> <strong>{{ filters.pending_alert }} winning bidder{% if filters.pending_alert > 1 %}s{% endif %}</strong> {% if filters.pending_alert > 1 %}haven't{% else %}hasn't{% endif %}
                been sent the e-mail to donate!</h5>
            <hr>
            <p>Click <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=pending_alert" class="alert-link"><strong>Pending alert</strong></a> to the right to view,
                then use the <i class="fa fa-envelope" title="E-mail"></i> <span class="sr-only">E-mail</span> menu options.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if filters.donation_unverified %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <h5 class="alert-header"><i class="fa fa-exclamation-triangle"></i> <strong>{{ filters.donation_unverified }} unverified donation{% if filters.donation_unverified > 1 %}s{% endif %}!</strong></h5>
            <hr>
            <p>Click <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=donation_unverified" class="alert-link"><strong>Donation unverified</strong></a> to the right to view,
                then click the <i class="fa fa-star-o" title="Validate"></i> <span class="sr-only">Validate</span> to validate if you're sure it's fine, or
                <i class="fa fa-cog" title="Edit"></i> <span class="sr-only">Edit</span> to view the provided receipt.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if filters.donation_late %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h5 class="alert-header"><i class="fa fa-exclamation-triangle"></i> <strong>{{ filters.donation_late }} winner{% if filters.donation_late > 1 %}s</strong> haven't{% else %}</strong> hasn't{% endif %} made the donation deadline!</h5>
            <hr>
            <p>Click <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=donation_late" class="alert-link">Donation late</a> to the right to view,
                then click <i class="fa fa-trash" title="Delete"></i> <span class="sr-only">Delete</span> to delete or <i class="fa fa-cog" title="Edit"></i> <span class="sr-only">Edit</span> to
                extend their deadline if you prefer. If you delete, the next highest bidder will appear and need their alert e-mail sending.</p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
{% endif %}

    <table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Offered by</th>
            <th>Bid</th>
            <th>Bidder</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for bid in top_bids %}
        <tr class="table-{% if bid.donation_complete %}success{% elif bid.donation_unverified %}info{% elif bid.pending_alert %}light{% elif bid.pending_donation %}warning{% elif bid.donation_late %}danger{% endif %}">
            <td>{{ bid.offer.category }}</td>
            <td>{{ bid.offer.user }}</td>
            <td>{% currency bid.amount auction.currency %}</td>
            <td>{{ bid.user }}</td>
            <td class="text-right">
                <div class="btn-group">
                    <a href="{% url 'bid:update' auction.user.slug auction.slug bid.pk %}" class="btn btn-dark btn-sm d-flex align-items-center" title="Edit"><i class="fa fa-cog"></i> <span class="sr-only">Edit</span></a>
                    {% if not bid.donation_complete %}
                    <a href="{% url 'bid:delete' auction.user.slug auction.slug bid.pk %}" class="btn btn-warning btn-sm d-flex align-items-center" title="Delete"><i class="fa fa-trash"></i> <span class="sr-only">Delete</span></a>
                    {% endif %}
                    {% if not bid.has_donated %}
                    <a href="{% url 'bid:validate' auction.user.slug auction.slug bid.pk %}" class="btn btn-info btn-sm d-flex align-items-center" title="Validate"><i class="fa fa-star-o"></i> <span class="sr-only">Validate</span></a>
                    {% endif %}
                    <a href="#" role="button" class="btn btn-primary btn-sm dropdown-toggle" title="E-mail" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-envelope"></i> <span class="sr-only">E-mail</span></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'bid:email' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-envelope-o"></i> View e-mails</a>
                        {% if not bid.donation_complete %}
                            <a class="dropdown-item" href="{% url 'bid:email_alert' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-paper-plane"></i> Send win alert to bidder{% if bid.winner_alert_email_date %} again{% endif %}</a>
                        {% else %}
                            {% if bid.pinch_hitter %}
                                <a class="dropdown-item" href="{% url 'bid:email_confirm_to_winner' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-paper-plane"></i> Send pinch hitter's details to winner{% if bid.winner_sent_auctionee_details_email_date %} again{% endif %}</a>
                                <a class="dropdown-item" href="{% url 'bid:email_confirm_to_auctionee' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-paper-plane"></i> Send winner's details to pinch hitter{% if bid.auctionee_sent_winner_details_email_date %} again{% endif %}</a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'bid:email_confirm_to_winner' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-paper-plane"></i> Send auctionee's details to winner{% if bid.winner_sent_auctionee_details_email_date %} again{% endif %}</a>
                                <a class="dropdown-item" href="{% url 'bid:email_confirm_to_auctionee' auction.user.slug auction.slug bid.pk %}"><i class="fa fa-fw fa-paper-plane"></i> Send winner's details to auctionee{% if bid.auctionee_sent_winner_details_email_date %} again{% endif %}</a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block side %}
    {{ block.super }}
    <div class="list-group mt-3">
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}" class="list-group-item  list-group-item-action d-flex justify-content-between align-items-center list-group-item-dark">All <span class="badge badge-dark badge-pill">{{ auction.top_bids|length }}</span></a>
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=pending_alert" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-light">Pending alert <span class="badge badge-secondary badge-pill">{{ filters.pending_alert }}</span></a>
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=pending_donation" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-warning">Pending donation <span class="badge badge-warning badge-pill">{{ filters.pending_donation }}</span></a>
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=donation_unverified" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-info">Donation unverified <span class="badge badge-info badge-pill">{{ filters.donation_unverified }}</span></a>
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=donation_complete" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-success">Donation complete <span class="badge badge-success badge-pill">{{ filters.donation_complete }}</span></a>
        <a href="{% url 'auction:results' auction.user.slug auction.slug %}?filter=donation_late" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center list-group-item-danger">Donation late <span class="badge badge-danger badge-pill">{{ filters.donation_late }}</span></a>
    </div>
{% endblock %}