{% extends 'auction/administration/base.html' %}
{% load static bootstrap4 core_tags %}

{% block javascript_body %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ace/1.4.2/ext-language_tools.js"></script>
    <script>
        var removeDoctype = function (session) {
            var annotations = session.getAnnotations() || [], i = len = annotations.length;
            while (i--) {
                if (/doctype first\. Expected/.test(annotations[i].text)) {
                    annotations.splice(i, 1);
                }
                else if (/Unexpected End of file\. Expected/.test(annotations[i].text)) {
                    annotations.splice(i, 1);
                }
            }
            if (len > annotations.length) {
                session.setAnnotations(annotations);
            }
        };

        var updateInput = function (id, val) {
            $('#' + id).val(val);
        };

        ace.require("ace/ext/language_tools");

        var css = $('#id_css');
        var css_editor = $("<pre id='css_editor' class='editor'>" + css.val() + "</pre>");
            css.after(css_editor);
            css.hide();

        /*
        var header = $('#id_header');
        var header_editor = $("<pre id='header_editor' class='editor'>" + header.val() + "</pre>");
            header.after(header_editor);
            header.hide();

        var footer = $('#id_footer');
        var footer_editor = $("<pre id='footer_editor' class='editor'>" + footer.val() + "</pre>");
            footer.after(footer_editor);
            footer.hide();
        */
        var _css_editor = ace.edit("css_editor");
            _css_editor.session.setMode("ace/mode/css");
            _css_editor.getSession().on("change", function(){
                updateInput('id_css', _css_editor.getValue());
            });
        /*
        var _header_editor = ace.edit("header_editor");
            _header_editor.session.setMode("ace/mode/html");
            _header_editor.getSession().on("changeAnnotation", function(){
                removeDoctype(_header_editor.getSession());
            });
            _header_editor.getSession().on("change", function(){
                updateInput('id_header', _header_editor.getValue());
            });

        var _footer_editor = ace.edit("footer_editor");
            _footer_editor.session.setMode("ace/mode/html");
            _footer_editor.getSession().on("changeAnnotation", function(){
                removeDoctype(_footer_editor.getSession());
            });
            _footer_editor.getSession().on("change", function(){
                updateInput('id_footer', _footer_editor.getValue());
            });
         */
    </script>

{% endblock %}

{% block main %}

    <h1>Layout</h1>

    <form method="post" enctype="multipart/form-data" action="{% url 'auction:update_layout' auction.user.slug auction.slug %}">
        {% csrf_token %}
        {% bootstrap_form_errors form %}

        <fieldset>
            <div class="alert alert-danger">
                You can use this to customise the appearance of this auction, but <strong>do <em>not</em> use it to remove or hide the Fantics-branded
                user menu or footer navigation, or auction functionality</strong>. Doing so is an <strong>insta-ban</strong>, as I like the part where
                the site is compliant with, like. The law.
            </div>
            <nav>
                <div class="nav nav-tabs" id="layoutTab" role="tablist">
                    <a class="nav-item nav-link active" id="layout-images-tab" data-toggle="tab" href="#layout-images" role="tab" aria-controls="layout-images" aria-selected="true">Images</a>
                    <!--<a class="nav-item nav-link" id="layout-template-tab" data-toggle="tab" href="#layout-template" role="tab" aria-controls="layout-template" aria-selected="false">Templates</a>-->
                    <a class="nav-item nav-link" id="layout-css-tab" data-toggle="tab" href="#layout-css" role="tab" aria-controls="layout-css" aria-selected="false">CSS</a>
                </div>
            </nav>
            <div class="tab-content" id="layoutContent">
                <div class="tab-pane fade show active pt-3" id="layout-images" role="tabpanel" aria-labelledby="layout-images-tab">
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Icon</h4>
                            {% if auction.icon %}
                                <img src="{{ auction.icon.url }}" class="img-fluid">
                            {% endif %}
                            {% bootstrap_field form.icon layout="inline" %}
                        </div>
                        <div class="col-md-4">
                            <h4>Logo</h4>
                            {% if auction.logo %}
                                <img src="{{ auction.logo.url }}" class="img-fluid">
                            {% endif %}
                            {% bootstrap_field form.logo layout="inline" %}
                        </div>
                        <div class="col-md-4">
                            <h4>Banner</h4>
                            {% if auction.banner %}
                                <img src="{{ auction.banner.url }}" class="img-fluid">
                            {% endif %}
                            {% bootstrap_field form.banner layout="inline" %}
                        </div>
                    </div>
                </div>
                <!--
                <div class="tab-pane fade pt-3" id="layout-template" role="tabpanel" aria-labelledby="layout-template-tab">
                    <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> There are no checks to stop this messing up your auction.</p>

                    <h4>Header</h4>
                    {# bootstrap_field form.header layout="inline" #}

                    <h4>Footer</h4>
                    {# bootstrap_field form.footer layout="inline" #}

                </div>
                -->
                <div class="tab-pane fade pt-3" id="layout-css" role="tabpanel" aria-labelledby="layout-css-tab">
                    <p class="alert alert-warning"><i class="fa fa-exclamation-triangle"></i> There are no checks to stop this messing up your auction.</p>

                    {% bootstrap_field form.css layout="inline" %}
                </div>
            </div>
        </fieldset>

        <p class="text-right"><button type="submit" class="btn btn-primary">Edit</button></p>
    </form>
{% endblock %}